{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order",
        "stylelint-scss"
    ],
    "rules": {
        "block-closing-brace-newline-before": "always",
        "block-opening-brace-newline-after": "always",
        "declaration-block-no-duplicate-properties": true,
        "declaration-no-important": true,
        "function-url-quotes": "always",
        "indentation": 4,
        "max-line-length": 100,
        "max-nesting-depth": 3,
        "no-duplicate-selectors": true,
        "no-extra-semicolons": true,
        "no-unknown-animations": true,
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "order/properties-order": [
            "content",

            "position",
            "z-index",
            "top",
            "right",
            "bottom",
            "left",

            "box-sizing",
            "display",
            "visibility",
            "clip",
            "zoom",

            "flex",
            "order",
            "justify-content",
            "align-items",
            "flex-wrap",
            "overflow",
            "float",
            "clear",

            "width",
            "height",
            "min",
            "max",
            "margin",
            "padding",
            "border",
            "outline",
            "box-shadow",

            "table",
            "empty-cells",
            "caption-side",
            "border-spacing",
            "border-collapse",
            "list",

            "font",
            "line-height",
            "white-space",
            "word-spacing",
            "text",
            "vertical-align",

            "color",
            "background",
            "opacity",
            "cursor",
            "transform",
            "transition",
            "user-select",
            "pointer-events"
        ],
        "selector-max-id": 0,
        "string-quotes": "single",
        "value-keyword-case": "lower",
        "value-no-vendor-prefix": true,
        "no-descending-specificity": null,
        "font-family-no-missing-generic-family-keyword": [true, {"ignoreFontFamilies": ["Indigo", "GoodIcons"]}]
    }
}
