{
    "extends": "stylelint-config-standard",
    "rules": {
        "block-no-single-line": true,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-properties-order": [
            "content",

            "position",
            "z-index",
            "top",
            "right",
            "bottom",
            "left",

            "display",
            "visibility",

            "flex",
            "order",
            "justify-content",
            "align-items",
            "flex-wrap",
            "overflow",
            "float",
            "clear",

            "width",
            "height",
            "min",
            "max",
            "margin",
            "padding",
            "border",
            "outline",
            "box-shadow",

            "list",

            "font",
            "line-height",
            "white-space",
            "word-spacing",
            "text",
            "vertical-align",

            "color",
            "background",
            "opacity",
            "cursor",
            "transform",
            "transition",
            "user-select",
            "pointer-events"
        ],
        "declaration-no-important": true,
        "indentation": 4,
        "max-line-length": 100,
        "max-nesting-depth": 3,
        "no-duplicate-selectors": true,
        "no-extra-semicolons": true,
        "no-unknown-animations": true,
        "selector-no-empty": true,
        "selector-no-id": true,
        "string-quotes": "single",
        "stylelint-disable-reason": "always-before",
        "value-keyword-case": "lower",
        "value-no-vendor-prefix": true
    }
}
